In [1]:
import pandas as pd
import numpy as np
import json

df = pd.read_csv('../data/tt_asignaciones_samp.csv')

In [3]:
df.head().T

,0,1,2,3,4
genero,MASCULINO,MASCULINO,MASCULINO,FEMENINO,FEMENINO
etnia,Mestizo,IndÃ­gena,Mestizo/a,Mestizo/a,Mestizo/a
cod_parroquia_reside,10113.0,60104.0,170256.0,220350.0,170164.0
cod_canton_reside,101.0,601.0,1702.0,2203.0,1701.0
cod_prov_reside,1.0,6.0,17.0,22.0,17.0
pos_id,16516144,17825859,25735501,28452649,24917400
pos_nota,784.0,774.0,759.0,841.0,760.0
pos_prioridad,1.0,1.0,1.0,1.0,2.0
ies_id,48,58,804,877,46
nombre_institucion,UNIVERSIDAD DE CUENCA,UNIVERSIDAD ESTATAL DE BOLIVAR,UNIVERSIDAD REGIONAL AMAZONICA IKIAM,INSTITUTO TECNOLÓGICO SUPERIOR GENERAL ELOY AL...,UNIVERSIDAD CENTRAL DEL ECUADOR
provincia,AZUAY,BOLIVAR,NAPO,ORELLANA,PICHINCHA
canton,CUENCA,GUARANDA,TENA,LA JOYA DE LOS SACHAS,DISTRITO METROPOLITANO DE QUITO
parroquia,"CUENCA, CABECERA CANTONAL Y CAPITAL PROVINCIAL.","GUARANDA, CABECERA CANTONAL Y CAPITAL PROVINCIAL",TENA,LA JOYA DE LOS SACHAS,"QUITO DISTRITO METROPOLITANO, CABECERA CANTONA..."
car_id,4910,4908,5335,7147,7363
carrera,GASTRONOMIA,MERCADOTECNIA,BIOTECNOLOGIA,TECNOLOGIA SUPERIOR EN ADMINISTRACION,ARTES PLASTICAS
area,SERVICIOS,ADMINISTRACION,"CIENCIAS NATURALES, MATEMATICAS Y ESTADISTICA",ADMINISTRACION,ARTES Y HUMANIDADES
modalidad,PRESENCIAL,PRESENCIAL,PRESENCIAL,PRESENCIAL,PRESENCIAL
acepta_cupo,1,1,1,1,2
ofa_id,98329,103172,167503,177308,162934
discapacidad,NO,NO,NO,NO,NO
asa_beca,0,0,0,0,0
cod_final,9352450110,2185420629,9250821701,2746992201,2520001738
periodo,18,18,21,22,21

#### Duplicates

In [4]:
def get_shape(df):
    print(df.shape)
    return df
(df
 .pipe(get_shape)
 .drop_duplicates()
 .pipe(get_shape)
 .sample()
)

(178252, 23)
(178244, 23)

,genero,etnia,cod_parroquia_reside,cod_canton_reside,cod_prov_reside,pos_id,pos_nota,pos_prioridad,ies_id,nombre_institucion,...,car_id,carrera,area,modalidad,acepta_cupo,ofa_id,discapacidad,asa_beca,cod_final,periodo
154723,FEMENINO,Mestizo,230106.0,2301.0,23.0,14907405,781.0,2.0,71,UNIVERSIDAD NACIONAL DE CHIMBORAZO,...,4458,CONTABILIDAD Y AUDITORIA,ADMINISTRACION,PRESENCIAL,0,82937,NO,0,1751872365,17

### Understanding our data

#### Missing Values

In [6]:
(df
 .isna()
 .groupby(df.periodo)
 .mean()
 .style
 .format(lambda fl: f'{fl * 100:.2f} %')
)

#### Memory

In [8]:
(df
 .memory_usage(deep=True)
 .apply(lambda s: s / 1000000)
 .pipe(lambda df_: pd.concat([df_, df.dtypes], axis = 1))
 .rename(columns={0:'memory', 1:'dtype'})
)

                         memory    dtype
Index                  0.000128      NaN
genero                11.588742   object
etnia                 11.604763   object
cod_parroquia_reside   1.426016  float64
cod_canton_reside      1.426016  float64
cod_prov_reside        1.426016  float64
pos_id                 1.426016    int64
pos_nota               1.426016  float64
pos_prioridad          1.426016  float64
ies_id                 1.426016    int64
nombre_institucion    18.691445   object
provincia             11.591679   object
canton                12.298591   object
parroquia             16.768532   object
car_id                 1.426016    int64
carrera               15.168719   object
area                  15.540280   object
modalidad             11.867452   object
acepta_cupo            1.426016    int64
ofa_id                 1.426016    int64
discapacidad          10.516868   object
asa_beca               1.426016    int64
cod_final              1.426016    int64
periodo                1.426016    int64

### Columns' names and Index

In [13]:
df_ = (df
 .rename(columns={'nombre_institucion':'ies_nombre',
                  'cod_prov_reside':'cod_provincia_reside',
                  'provincia':'provincia_ies', 'canton':'canton_ies', 
                  'parroquia':'parroquia_ies'})
)

,genero,etnia,cod_parroquia_reside,cod_canton_reside,cod_provincia_reside,pos_id,pos_nota,pos_prioridad,ies_id,ies_nombre,...,car_id,carrera,area,modalidad,acepta_cupo,ofa_id,discapacidad,asa_beca,cod_final,periodo
0,MASCULINO,Mestizo,10113.0,101.0,1.0,16516144,784.0,1.0,48,UNIVERSIDAD DE CUENCA,...,4910,GASTRONOMIA,SERVICIOS,PRESENCIAL,1,98329,NO,0,9352450110,18
1,MASCULINO,IndÃ­gena,60104.0,601.0,6.0,17825859,774.0,1.0,58,UNIVERSIDAD ESTATAL DE BOLIVAR,...,4908,MERCADOTECNIA,ADMINISTRACION,PRESENCIAL,1,103172,NO,0,2185420629,18
2,MASCULINO,Mestizo/a,170256.0,1702.0,17.0,25735501,759.0,1.0,804,UNIVERSIDAD REGIONAL AMAZONICA IKIAM,...,5335,BIOTECNOLOGIA,"CIENCIAS NATURALES, MATEMATICAS Y ESTADISTICA",PRESENCIAL,1,167503,NO,0,9250821701,21
3,FEMENINO,Mestizo/a,220350.0,2203.0,22.0,28452649,841.0,1.0,877,INSTITUTO TECNOLÓGICO SUPERIOR GENERAL ELOY AL...,...,7147,TECNOLOGIA SUPERIOR EN ADMINISTRACION,ADMINISTRACION,PRESENCIAL,1,177308,NO,0,2746992201,22
4,FEMENINO,Mestizo/a,170164.0,1701.0,17.0,24917400,760.0,2.0,46,UNIVERSIDAD CENTRAL DEL ECUADOR,...,7363,ARTES PLASTICAS,ARTES Y HUMANIDADES,PRESENCIAL,2,162934,NO,0,2520001738,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178247,MASCULINO,Mestizo,180108.0,1801.0,18.0,14552460,883.0,1.0,82,UNIVERSIDAD TECNICA DE AMBATO,...,4458,CONTABILIDAD Y AUDITORIA,ADMINISTRACION,PRESENCIAL,1,86623,NO,0,1860631810,17
178248,FEMENINO,Mestizo/a,10158.0,101.0,1.0,24666557,801.0,1.0,44,UNIVERSIDAD CATOLICA DE CUENCA,...,5455,ADMINISTRACION DE EMPRESAS,ADMINISTRACION,PRESENCIAL,0,165935,NO,0,1486830138,21
178249,FEMENINO,Mestizo,91250.0,912.0,9.0,19776456,802.0,1.0,59,UNIVERSIDAD ESTATAL DE MILAGRO,...,5474,TRABAJO SOCIAL,"CIENCIAS SOCIALES, PERIODISMO, INFORMACION Y D...",SEMI-PRESENCIAL,1,149370,NO,0,2097760665,19
178250,FEMENINO,NaN,NaN,NaN,NaN,21554719,807.0,1.0,89,UNIVERSIDAD TECNICA ESTATAL DE QUEVEDO,...,5316,SOFTWARE,TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACIO...,PRESENCIAL,1,153898,NO,0,2090151229,20
178251,FEMENINO,Mestizo,70702.0,707.0,7.0,19764029,909.0,1.0,85,UNIVERSIDAD TECNICA DE MACHALA,...,4801,COMERCIO EXTERIOR,ADMINISTRACION,PRESENCIAL,1,144968,NO,0,2432830738,19

### Numeric Types

In [54]:
_df = (df
 .drop(columns=['asa_beca']) # columns contains 0 only; uninformative
 .rename(columns={'nombre_institucion':'ies_nombre',
                  'cod_prov_reside':'cod_provincia_reside',
                  'provincia':'provincia_ies', 'canton':'canton_ies', 
                  'parroquia':'parroquia_ies'})
 .assign(acepta_cupo=lambda df_: (df_
                                  .acepta_cupo
                                  .replace(2, np.nan) # replacing meaningless 2 with np.nan
                                  .astype('uint8', errors='ignore')),
         **{c: lambda df_, c=c: df_[c].astype('uint8', errors='ignore') for c in ['periodo', 
                                                                                  'pos_prioridad', 
                                                                                  'cod_provincia_reside']},
         **{c: lambda df_, c=c: df_[c].astype('uint16', errors='ignore') for c in ['car_id', 
                                                                                   'pos_nota', 'ies_id',
                                                                                   'cod_canton_reside']},
         **{c: lambda df_, c=c: df_[c].astype('uint32', errors='ignore') for c in ['ofa_id', 'pos_id', 
                                                                                   'cod_parroquia_reside']},
         genero=lambda df_: df_.genero.replace({'MASCULINO':1, 'FEMENINO':0}).astype('uint8', errors='ignore'), # 1: Masculino ; 0: Femenino
         discapacidad=lambda df_: df_.discapacidad.replace({'NO':0, 'SI':1}).astype('uint8', errors='ignore')
         )
)

In [61]:
(_df
 .select_dtypes('number')
 .describe()
)

,genero,cod_parroquia_reside,cod_canton_reside,cod_provincia_reside,pos_id,pos_nota,pos_prioridad,ies_id,car_id,acepta_cupo,ofa_id,discapacidad,cod_final,periodo
count,175966.000000,168658.000000,168658.000000,168658.000000,1.782520e+05,178252.000000,178252.000000,178252.000000,178252.000000,174896.000000,178252.000000,178252.000000,1.782520e+05,178252.000000
mean,0.442131,118652.677323,1186.284440,11.826554,2.122624e+07,778.151101,1.756154,175.639533,5470.455445,0.818086,140492.648649,0.007972,2.544334e+09,19.569278
std,0.496641,54021.272067,540.189535,5.407217,4.395719e+06,78.961527,1.124222,256.804393,965.909128,0.385775,33326.488826,0.088929,1.552583e+09,1.692178
min,0.000000,10101.000000,101.000000,1.000000,1.348796e+07,392.000000,1.000000,22.000000,4447.000000,0.000000,81359.000000,0.000000,1.000011e+09,17.000000
25%,0.000000,90112.000000,901.000000,9.000000,1.745816e+07,723.000000,1.000000,51.000000,4748.000000,1.000000,100066.000000,0.000000,1.896541e+09,18.000000
50%,0.000000,110161.000000,1101.000000,11.000000,2.138317e+07,775.000000,1.000000,60.000000,5205.000000,1.000000,151373.000000,0.000000,2.230116e+09,20.000000
75%,1.000000,170110.000000,1701.000000,17.000000,2.472318e+07,832.000000,2.000000,92.000000,5476.000000,1.000000,167182.000000,0.000000,2.544917e+09,21.000000
max,1.000000,900751.000000,9007.000000,90.000000,2.958155e+07,1000.000000,5.000000,1054.000000,7603.000000,1.000000,183438.000000,1.000000,9.999981e+09,22.000000

### Non Numeric Types

In [105]:
import json

with open('../utils.json') as f:
    dd = json.load(f)

_df = (df
 .drop(columns=['asa_beca']) # columns contains 0 only; uninformative
 .rename(columns={'nombre_institucion':'ies_nombre',
                  'cod_prov_reside':'cod_provincia_reside',
                  'provincia':'provincia_ies', 'canton':'canton_ies', 
                  'parroquia':'parroquia_ies'})
 .assign(acepta_cupo=lambda df_: (df_
                                  .acepta_cupo
                                  .replace(2, np.nan) # replacing meaningless 2 with np.nan
                                  .astype('uint8', errors='ignore')),
         etnia=lambda df_: (df_.etnia
                            .str.lower()
                            .replace(regex=dd['etnias'])
                            .str.title()
                            .replace(regex={'Ind...ena':'Indígena'})
                            .astype('category')),
         parroquia_ies=lambda df_: (df_
                                    .parroquia_ies
                                    .str.title()
                                    .replace({'Abraham Calazacã\x93N':'Abraham Calazacón',
                                              'Azogues' : 'Azogues, Cabecera Cantonal',
                                              'Bahã\x8dA De Carã\x81Quez': 'Bahía De Caráquez',
                                              'Baã\x91Os De Agua Santa' : 'Baños De Agua Santa',
                                              'Carcelã\x89N' : 'Carcelén', 'Caã\x91Ar' : 'Cañar',
                                              'Cariamanga' : 'Cariamanga, Cabecera Cantonal',
                                              'Cayambe' : 'Cayambe, Cabecera Cantonal',
                                              'El Ã\x81Ngel' : 'El Ángel', 'Iã\x91Aquito' : 'Iñaquito',
                                              'La Aurora (Satã\x89Lite)' : 'La Aurora (Satélite)',
                                              'La Concepciã\x93N' : 'La Concepción',
                                              'Portoviejo' : 'Portoviejo, Cabecera Cantonal Y Capital Provincial',
                                              'Quevedo' : 'Quevedo, Cabecera Cantonal',
                                              'Santa Elena' : 'Santa Elena, Cabecera Cantonal Y Capital Provincial'})
                                    .replace(['Atocha \x96 Ficoa', 'Atocha Â\x80\x93 Ficoa'], 'Atocha Ficoa')
                                    .replace(['Sangolqui, Cabecera Cantonal', 'Sangolquã\x8d'], 'Sangolquí')
                                    .replace(['Santo Domingo De Los Colorados','Santo Domingo De Los Colorados, Cabecera Cantonal'], 
                                             'Santo Domingo De Los Tsachilas, Cabecera Cantonal Y Capital Provincial')
                                    .replace(['Tulcan, Cabecera Cantonal', 'Tulcán', 'Tulcã\x81N'],
                                             'Tulcán, Cabecera Cantonal Y Capital Provincial')
                                    .astype('category')),
         **{c: lambda df_, c=c: df_[c].astype('uint8', errors='ignore') for c in ['periodo', 
                                                                                  'pos_prioridad', 
                                                                                  'cod_provincia_reside']},
         **{c: lambda df_, c=c: df_[c].astype('uint16', errors='ignore') for c in ['car_id', 
                                                                                   'pos_nota', 'ies_id',
                                                                                   'cod_canton_reside']},
         **{c: lambda df_, c=c: df_[c].astype('uint32', errors='ignore') for c in ['ofa_id', 'pos_id', 
                                                                                   'cod_parroquia_reside']},
         **{c: lambda df_, c=c: df_[c].str.title().astype('category') for c in ['ies_nombre', 'provincia_ies', 
                                                                                'canton_ies', 'carrera', 'area', 
                                                                                'modalidad']},
         genero=lambda df_: df_.genero.replace({'MASCULINO':1, 'FEMENINO':0}).astype('uint8', errors='ignore'), # 1: Masculino ; 0: Femenino
         discapacidad=lambda df_: df_.discapacidad.replace({'NO':0, 'SI':1}).astype('uint8', errors='ignore'),
         universidad=lambda df_: df_.ies_nombre.str.contains('Universidad'),
         in_capital=lambda df_: df_.parroquia_ies.str.contains('Capital')
         )
)

In [111]:
(_df
 .select_dtypes(exclude='number')
 .describe()
)

,etnia,ies_nombre,provincia_ies,canton_ies,parroquia_ies,carrera,area,modalidad,universidad,in_capital
count,171879,178252,178252,178252,178252,178252,178252,178252,178252,178252
unique,7,399,24,81,106,747,18,6,2,2
top,Mestizo,Universidad Estatal De Milagro,Guayas,Milagro,"Milagro, Cabecera Cantonal",Turismo,"Ingenieria, Industria Y Construccion",Presencial,True,True
freq,142883,26731,52782,27236,27236,4128,34014,138679,132271,92722

### Resulting Changes

#### Missing Values

In [108]:
(_df
 .isna()
 .groupby(df.periodo)
 .mean()
 .style
 .format(lambda fl: f'{fl * 100:.2f} %')
)

#### Memory

In [110]:
(_df
 .memory_usage(deep=True)
 .apply(lambda s: s / 1000000)
 .pipe(lambda df_: pd.concat([df_, _df.dtypes], axis = 1))
 .rename(columns={0:'memory', 1:'dtype'})
)

                        memory     dtype
Index                 0.000128       NaN
genero                1.426016   float64
etnia                 0.179029  category
cod_parroquia_reside  1.426016   float64
cod_canton_reside     1.426016   float64
cod_provincia_reside  1.426016   float64
pos_id                0.713008    uint32
pos_nota              0.356504    uint16
pos_prioridad         0.178252     uint8
ies_id                0.356504    uint16
ies_nombre            0.438732  category
provincia_ies         0.180454  category
canton_ies            0.185927  category
parroquia_ies         0.191017  category
car_id                0.356504    uint16
carrera               0.448772  category
area                  0.180685  category
modalidad             0.178819  category
acepta_cupo           1.426016   float64
ofa_id                0.713008    uint32
discapacidad          0.178252     uint8
cod_final             1.426016     int64
periodo               0.178252     uint8
universidad           0.178252      bool
in_capital            0.178252      bool

### Tweak Asignaciones

In [ ]:
import json

with open('../utils.json') as f:
    dd = json.load(f)

def tweak_asignaciones(df):
    return (df
     .drop(columns=['asa_beca']) # columns contains 0 only; uninformative
     .rename(columns={'nombre_institucion':'ies_nombre',
                      'cod_prov_reside':'cod_provincia_reside',
                      'provincia':'provincia_ies', 'canton':'canton_ies', 
                      'parroquia':'parroquia_ies'})
     .assign(acepta_cupo=lambda df_: (df_
                                      .acepta_cupo
                                      .replace(2, np.nan) # replacing meaningless 2 with np.nan
                                      .astype('uint8', errors='ignore')),
             etnia=lambda df_: (df_.etnia
                                .str.lower()
                                .replace(regex=dd['etnias'])
                                .str.title()
                                .replace(regex={'Ind...ena':'Indígena'})
                                .astype('category')),
             parroquia_ies=lambda df_: (df_
                                        .parroquia_ies
                                        .str.title()
                                        .replace({'Abraham Calazacã\x93N':'Abraham Calazacón',
                                                  'Azogues' : 'Azogues, Cabecera Cantonal',
                                                  'Bahã\x8dA De Carã\x81Quez': 'Bahía De Caráquez',
                                                  'Baã\x91Os De Agua Santa' : 'Baños De Agua Santa',
                                                  'Carcelã\x89N' : 'Carcelén', 'Caã\x91Ar' : 'Cañar',
                                                  'Cariamanga' : 'Cariamanga, Cabecera Cantonal',
                                                  'Cayambe' : 'Cayambe, Cabecera Cantonal',
                                                  'El Ã\x81Ngel' : 'El Ángel', 'Iã\x91Aquito' : 'Iñaquito',
                                                  'La Aurora (Satã\x89Lite)' : 'La Aurora (Satélite)',
                                                  'La Concepciã\x93N' : 'La Concepción',
                                                  'Portoviejo' : 'Portoviejo, Cabecera Cantonal Y Capital Provincial',
                                                  'Quevedo' : 'Quevedo, Cabecera Cantonal',
                                                  'Santa Elena' : 'Santa Elena, Cabecera Cantonal Y Capital Provincial'})
                                        .replace(['Atocha \x96 Ficoa', 'Atocha Â\x80\x93 Ficoa'], 'Atocha Ficoa')
                                        .replace(['Sangolqui, Cabecera Cantonal', 'Sangolquã\x8d'], 'Sangolquí')
                                        .replace(['Santo Domingo De Los Colorados','Santo Domingo De Los Colorados, Cabecera Cantonal'], 
                                                 'Santo Domingo De Los Tsachilas, Cabecera Cantonal Y Capital Provincial')
                                        .replace(['Tulcan, Cabecera Cantonal', 'Tulcán', 'Tulcã\x81N'],
                                                 'Tulcán, Cabecera Cantonal Y Capital Provincial')
                                        .astype('category')),
             **{c: lambda df_, c=c: df_[c].astype('uint8', errors='ignore') for c in ['periodo', 
                                                                                      'pos_prioridad', 
                                                                                      'cod_provincia_reside']},
             **{c: lambda df_, c=c: df_[c].astype('uint16', errors='ignore') for c in ['car_id', 
                                                                                       'pos_nota', 'ies_id',
                                                                                       'cod_canton_reside']},
             **{c: lambda df_, c=c: df_[c].astype('uint32', errors='ignore') for c in ['ofa_id', 'pos_id', 
                                                                                       'cod_parroquia_reside']},
             **{c: lambda df_, c=c: df_[c].str.title().astype('category') for c in ['ies_nombre', 'provincia_ies', 
                                                                                    'canton_ies', 'carrera', 'area', 
                                                                                    'modalidad']},
             genero=lambda df_: df_.genero.replace({'MASCULINO':1, 'FEMENINO':0}).astype('uint8', errors='ignore'), # 1: Masculino ; 0: Femenino
             discapacidad=lambda df_: df_.discapacidad.replace({'NO':0, 'SI':1}).astype('uint8', errors='ignore'),
             universidad=lambda df_: df_.ies_nombre.str.contains('Universidad'),
             in_capital=lambda df_: df_.parroquia_ies.str.contains('Capital')
             )
    )